<% layout('../layouts/default') -%>
<div class="button-section">
  <h3>Still have no party yet?</h3>
  <a href="/parties/new" class="btn btn-warning">Create Party</a>
</div>
<div>
  <% if (parties.length) { %>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>#</th>
          <th>Party Name</th>
          <th>Location</th>
          <th>Start</th>
          <th>End</th>
        </tr>
      </thead>
      <tbody>
        <% for (var i = 0; i < parties.length; i++) { %>
          <tr>
            <td><%=i + 1 %></td>
            <td><a href="/parties/<%=parties[i]._id %>"><%=parties[i].partyName %></a></td>
            <td><%=parties[i].location %></td>
            <td><%=parties[i].startDateTime %></td>
            <td><%=parties[i].endDateTime %></td>
          </tr>
        <% } %>
      </tbody>
    </table>
  <% } %>
</div>